<% if @user != current_user %>
  <div>
    <% if current_user.following?(user) %>
      <%= button_to "Unfollow", follow_user_path(user), method: :delete %>
    <% else %>
      <%= button_to "Follow", follow_user_path(user) %>
    <% end %>
  </div>
<% end %>
